<p>book-list works!</p>

@if (books.length) {
<div>
  <button (click)="toggleCover()">Cover ein/ausschalten</button>
  <input type="text" [(ngModel)]="searchTerm" placeholder="Suche nach Titel">
  <p>Bücherliste gefiltert nach {{searchTerm}}:</p>
  <table>
    <thead>
      <tr>
        <th>Titel</th>
        <th>ISBN</th>
        <th>Preis</th>
        @if (coverIsVisible) {
        <th>Cover</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (book of (books | bookFilter : searchTerm); track getBookId(i, book); let i = $index; let odd = $odd; let
      even
      = $even) {
      <tr>
        <td>{{i+1}} {{ book.title }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.price | currency: 'EUR' : 'symbol' : '1.2-2' }}</td>
        @if (coverIsVisible) {
        <td><img [src]="book.coverUrl" [style.width.px]="50"></td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
} @else {
Leider keiner Bücher
}

{{books | json}}